
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="center start" mat-bold
class="border border-primary">
  <div fxFlex.gt-sm="85%">
    <mat-toolbar color="primary" fxLayout.gt-sm="row">
      <!-- Menu -->
      <div fxFlex.gt-sm="10%">
        <mat-menu #rootMenu="matMenu">
          <button mat-menu-item routerLink="/wizard-contract">Assistente de contrato</button>
          <button mat-menu-item [matMenuTriggerFor]="peopleManager">Gerenciar Pessoas</button>
          <button mat-menu-item [matMenuTriggerFor]="propertiesManager">Gerenciar Imóveis</button>
          <button mat-menu-item [matMenuTriggerFor]="contractsManager">Gerenciar Contrato</button>
        </mat-menu>
        <mat-menu #peopleManager="matMenu">
          <button mat-menu-item routerLink="/list-people">Listar</button>
          <button mat-menu-item routerLink="/add-edit-person">Adicionar</button>
        </mat-menu>
        <mat-menu #propertiesManager="matMenu">
          <button mat-menu-item routerLink="/list-properties">Listar</button>
          <button mat-menu-item routerLink="/add-edit-property">Adicionar</button>
        </mat-menu>
        <mat-menu #contractsManager="matMenu">
          <button mat-menu-item routerLink="/list-contracts">Listar</button>
          <button mat-menu-item routerLink="/add-edit-contract">Adicionar</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="rootMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <!-- Title -->
      <div fxFlex.gt-sm="80%">
        <mat-toolbar-row fxLayoutAlign="center center">
            <span>IMOBILIÁRIA</span >
        </mat-toolbar-row>
      </div>
      <div fxFlex.gt-sm="10%"></div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>